html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  position: fixed;
  height: inherit;
}

.text-teal {
	color: #009688;
}

.code {
  	font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace;
  	color: red;
  	background-color: #f0f0f0

}

.tag, .unit {
	color: #F92672;
}

.atr{
	color: #A6E22E;
}

.str {
	color: #FFE792;
}

.content {
	margin: 10px 0px 0px 0px;
}

.example {
	margin: 0;
}

.stl {
	color: #66D9EF;
}

.nmb {
	color: #AE81FF;
}

.block {
  	background-color: #272822;
  	font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace;
  	font-size: 12px;
  	margin-left: 33.,33333%;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	overflow: auto;
  	width: auto;
  	padding: 10px 0px 10px 0px;
  	max-height: 600px;
  	color: #F8F8F2;
  	counter-reset: line;
  	line-height: 0;
  	text-align: left!important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.line {
    display: block;
    line-height: 1rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.line::before {
    text-align: right;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    width: 2em;
    padding: 0 .5em;
    margin-right: 1em;
    opacity: 0.5;
  }
}
